<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="public/lib/codemirror.min.js"/></script>
    <script src="public/addon/edit/matchbrackets.min.js"/></script>
    <script src="public/addon/edit/closebrackets.min.js"/></script>
    <script defer src="public/main.min.js"/></script>
    <script defer src="public/dark-light-mode.min.js"/></script>
    <% Object.keys(languages).forEach(language => { %>
      <script src="<%= `public/mode/${languages[language].name}/${languages[language].name}.min.js` %> "/></script>
    <% }) %>
    <link rel="stylesheet" href="public/lib/codemirror.css">
    <link rel="stylesheet" href="public/style.css">
    <% themes.forEach(theme => { %>
     <link rel="stylesheet" href="<%= `public/theme/${theme}.css` %> ">
    <% }) %>
    <title><%- challenge.name %></title>
    <style>
      .CodeMirror * {
        font-size: 14px;
        line-height: 19px;
      }
    </style>
  </head>
  <body>
    <span onclick="switchDarkLightMode(this.textContent)" id="dark-light-mode"></span>
    <div class="container">
      <div id="info">
        <button id="pres-output" onclick="togglePresOutput()">Show Output</button>
        <div id="challenge-presentation">
          <h1><%- challenge.name %> </h1>
          <div id="description"><%- challenge.description %></div>
          <div class="constraint">
            <strong>Constraints:</strong>
            <ul>
            <% challenge.constraints.forEach((constraint) => { %>
              <li><%= constraint %> </li>
            <% }) %>
            </ul>
          </div>
          <% challenge.examples.forEach(({input, output, explanation, notes}, indice) => { %>
          <div class="example">
            <div class="example__number">Example <%= indice + 1 %>:</div>
            <div><em>Input:</em> <%- input %> </div>
            <div><em>Output:</em> <%- output %> </div>
            <% if (explanation) { %>
            <div><em>Explanation:</em> <%- explanation %> </div>       
            <% } %>
            <% if (notes) { %>
            <div><em>Notes:</em> <%- notes %> </div>
            <% } %>
          </div>
          <% }) %>
        </div>
        <div id="challenge-output">
          <div><span id="memory"></span></div>
          <div><span id="time"></span></div>
          <div><span id="success"></span></div>
          <div id="stdout">
            <span class="std"></span>
            <p class="output"></p>
          </div>
          <div id="stderr">
            <span class="std"></span>
            <p class="output"></p>
          </div>
        </div>
      </div>
     
      <div id="editor">
        <div>
          <button id="submit" onclick="runCode()">Run code &nbsp; ►</button>
                <div class="select-wrapper">
                  <select id="language" onchange="switchHelpers(this)">
                    <% Object.keys(languages).forEach(language => {%>
                      <option value="<%= `${language}:${languages[language].codeMirrorMode}` %>" ><%= languages[language].name %></option>
                      <% }) %>
                    </select>
                  </div>
                  <div class="select-wrapper">
          <select id="fontSize" onchange="switchFontSize(this.value)">
          <% for( let index = 0; index < 10; index++ ) { %>
            <option value="<%= 10 + 2 * index %>" <%= index === 2 ? "selected" : "" %>><%= 10 + 2 * index %></option>
          <% } %>
          </select>
          </div> 
          <div class="select-wrapper">
            <select id="theme" onchange="switchTheme(this.value)">
              <option value="default" selected>default</option>
            <% themes.forEach(theme => { %>
              <option value="<%= theme %> "><%= theme %> </option>
            <% }) %>
            </select>
          </div>
          <button onclick="resetCode()">Reset <span>⟳</span></button>
        </div>
        <textarea id="data"></textarea>
      </div>

  </div>
  </body>
  <script>
    const helpers = <%- JSON.stringify(helpers) %>
  </script>
</html>
