<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="public/lib/codemirror.js"/></script>
    <% Object.keys(languages).forEach(language => { %>
      <script src="<%= `public/mode/${languages[language].name}/${languages[language].name}.js` %> "/></script>
    <% }) %>
    <link rel="stylesheet" href="public/lib/codemirror.css">
    <% themes.forEach(theme => { %>
     <link rel="stylesheet" href="<%= `public/theme/${theme}.css` %> ">
    <% }) %>
    <title><%- challenge.name %></title>
    <style>
      .CodeMirror * {
        font-size: 14px;
        line-height: 19px;
      }
    </style>
  </head>
  <body>
    <h1><%- challenge.name %> </h1>
    <p><%- challenge.description %> </p>
    <button onclick="runCode()">Run code</button>
    <select id="language" onchange="switchHelpers(this)">
      <% Object.keys(languages).forEach(language => {%>
      <option value="<%= language %>"><%= languages[language].name %></option>
      <% }) %>
    </select>
    <select onchange="switchFontSize(this.value)">
      <% for( let index = 0; index < 10; index++ ) { %>
        <option value="<%= 10 + 2 * index %>" <%= index === 2 ? "selected" : "" %>><%= 10 + 2 * index %></option>
      <% } %>
    </select>
    <select onchange="switchTheme(this.value)">
      <option value="default" selected>default</option>
    <% themes.forEach(theme => { %>
     <option value="<%= theme %> "><%= theme %> </option>
    <% }) %></select>
    <textarea id="data"></textarea>
    <p style="color: green" id="success"></p>
    <p id="stdout"></p>
    <p style="color: red" id="stderr"></p>
  </body>
  <script>
    const helpers = <%- JSON.stringify(helpers) %>
    const textArea = document.getElementById('data')
    const myCodeMirrorOptions = {
      mode: "javascript",
      theme:"default",
      lineNumbers: true,
      tabSize: 2
    }
    const myCodeMirror = CodeMirror.fromTextArea(textArea, myCodeMirrorOptions)
    let selectedLanguage = document.getElementById('language').value
    const codeMirrorStyle = Array.from(document.styleSheets).find(ss => !ss.href).cssRules[0].style
    myCodeMirror.setValue(helpers[selectedLanguage])
    function switchFontSize(fontSize) {
      codeMirrorStyle.fontSize = `${fontSize}px`
      codeMirrorStyle.lineHeight = `${Number(fontSize) + 5}px`
      myCodeMirror.refresh()
    }

    function switchTheme(theme) {
      myCodeMirror.setOption("theme", theme)
      myCodeMirror.refresh()
    }

    function switchHelpers(select) {
      const language = select[select.selectedIndex]
      helpers[selectedLanguage] = myCodeMirror.getValue()
      myCodeMirror.setValue(helpers[language.value])
      myCodeMirror.setOption("mode", language.text)
      selectedLanguage = language.value
    }

    async function runCode() {
      try {
        const data = myCodeMirror.getValue();
        const rawResponse = await fetch(
          'http://localhost:3000/<%= challenge.functionName %>',
          {
            method: 'POST',
            headers: {
              Accept: 'application/json',
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              language: selectedLanguage,
              data,
            }),
          }
        );
        const content = await rawResponse.json();
        let stdoutElem = document.getElementById('stdout');
        stdoutElem.textContent = content['stdout'];
        let stderrElem = document.getElementById('stderr');
        stderrElem.textContent = content['stderr'];
        let successElem = document.getElementById('success');
        successElem.textContent = content['success'] ? 'Success !' : '';
      } catch (err) {
        console.log(err);
      }
    }
  </script>
</html>
